.header {
  color: white;
  height: 10%;
  width: 85%;
  margin: auto;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: mediumpurple;
}

.logo {
  margin-top: 10px;
  margin-bottom: 10px;
  flex-grow: 1;
  text-align: left;
}

.search {
  padding-right: 15px;
  padding-left: 15px;
  align-self: center;
  flex-grow: 8;
  text-align: right;
}

.shopping-card {
  align-self: center;
  flex-grow: 1;
  font-size: 18px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
}

.shopping-card:hover {
  text-decoration: none;
  color: white;
}

.shopping-card > svg {
  margin-right: 10px;
}
