.price-panel {
  margin-top: 10px;
  background-color: rgb(236, 248, 237);
  margin-bottom: 10px;

  border-radius: 5px;
  padding: 5px;
}

.price-panel > p {
  padding-bottom: 10px;
  border-bottom: thin solid rgb(177, 188, 199);
}

.price-panel > button {
  background-color: rgb(171, 209, 171);
  border: none;
}
