.shopping-cart-list-item {
  margin-top: 3px;
  margin-bottom: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 24px;

  display: flex;
  justify-content: left;
}

.shopping-cart-list-item > a:hover {
  color: black;
  text-decoration: none;
}

.shopping-cart-list-item-image {
  width: 15%;
  margin-right: 15px;
}

.shopping-cart-list-item-image > img {
  object-fit: scale-down;
  width: 100%;
}

.shopping-cart-list-item-title {
  margin-right: 15px;
  width: 45%;
}

.shopping-cart-list-item-amount {
  margin-right: 15px;
  width: 15%;
}

.shopping-cart-list-item-amount > input {
  width: 1.5em;
  text-align: center;
}

.shopping-cart-list-item-delete:hover {
  cursor: pointer;
}

.shopping-cart-list-item-delete {
  text-align: right;
  width: 25%;
  padding-right: 25px;
}
