.question > textarea {
  width: 100%;
}

.question {
  text-align: center;
}

.question:last-child {
  text-align: left;
}

.question > * {
  margin-bottom: 10px;
}

.email-form > input {
  width: 100%;
}

.phone-form > input {
  width: 100%;
  margin-bottom: 5px;
}

.phone-form > h6 {
  font-size: 14px;
  font-weight: normal;
  text-align: left;
}

.send-question-button {
  border: none;
  padding: 10px 10px 10px 10px;
  text-transform: uppercase;
  margin-top: 10px;
}
