.contacts {
  margin-top: 20px;

  text-align: left;
}

.contacts > h4 {
  padding-left: 15px;
}

.item {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: thin dashed darkgrey;
  padding-left: 15px;
}

.item:last-child {
  border-bottom: 0;
}

.item > h6 {
  font-size: 18px;
  font-weight: 600;
}

.item > span {
  font-size: 14px;
  color: darkgrey;
}
