.furniture {
  padding-left: 30px;
  padding-top: 15px;
  padding-right: 15px;
  text-align: left;
}

.furniture-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.furniture > h3 {
  margin-bottom: 30px;
}
