.furniture {
  padding-left: 30px;
  padding-top: 15px;
  padding-right: 15px;
  text-align: left;
}

.furniture > h3 {
  margin-bottom: 30px;
}

.furniture-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.furniture-description {
  margin-top: 10px;
  margin-bottom: 10px;
}
